<!DOCTYPE html>
<html>

<head>
	<title>The Programmer's Gospel</title>
	<!-- STYLES -->
  <link href="static/styles/reset.css" rel="stylesheet" type="text/css">
	<link href="static/styles/tpg.css" rel="stylesheet" type="text/css">
	<!-- SCRIPTS -->
	<script src="static/scripts/jquery-1.9.0.js"></script>
	<script src="static/scripts/jquery-ui-1.11.4.min.js"></script>
  <!-- from https://github.com/ilikenwf/nestedSortable -->
  <script src="static/scripts/jquery.mjs.nestedSortable.js"></script>
  <script src="static/scripts/angular-1.2.26.min.js"></script>
	<script src="static/scripts/utils.js"></script>
	<script src="static/scripts/animations.js"></script>
	<script src="levels/0/origins.js"></script>
	<script src="levels/1/genesis.js"></script>
	<script src="levels/1/serpent.js"></script>
</head>
<body ng-app="tpg">

	<div id="main-container" ng-controller="CodeController as codeCtrl" when-ready="initCodeLinks();" ready-check="checkForScripture()">

		<!-- SCRIPTURE -->
		<div id="scripture-container" class="sub-screen">
			<div id="scripture-header" class="sub-screen-header">
				
			</div>
			<div id="scripture" class="content-body">
				<div ng-include="'levels/1/genesis.html'" id="genesis-scripture" class="scripture-partial">
					<p>No Scripture Loaded</p>
				</div>
			</div>
		<!-- CODE -->
		</div><div id="code-container" class="sub-screen">
			<div id="code-header" class="sub-screen-header">
				
			</div>
			<ol id="code" class="content-body">
				
			</ol>
		<!-- PROMPT -->
		</div><div id="prompt-container" ng-controller="ConversationController as convCtrl"  class="sub-screen">
			<div id="prompt-header" class="sub-screen-header" >
				<div id="code-run-area" ng-click="runCode();clearInput();startConvo();">
					<div id="code-run-button">RUN CODE</div>
				</div>
			</div>
			<!-- tabindex='1' makes the prompt "focusable" -->
			<div id="prompt" class="content-body" tabindex='1'>
				<div id="prompt-error-message">
				</div>
				<input id="command-input" type="text" ng-model="curCommand.text">
				<div id="conversation-content"></div>
				<span id="pre-input-content"></span>
				<span id="input-field">
					<span id="command-display">{{curCommand.text}}</span><span id="input-box" class="inactive">&nbsp;</span>
				</span>
				<div id="post-content-spacer"></div>
			</div>
		</div>

		<div id="full-screen-container">
			<div id="content-container">
				<div id="work-content">
					<div id="scripture-full-screen">
						<div ng-include="'levels/0/origins.html'" id="origins-scripture" class="scripture-partial">
							<p>Scripture Not Loaded</p>
						</div>
					</div><ol id="code-full-screen"></ol>
				</div>
				<div id="button-content">
					<div id="code-run-area-full-screen" ng-click="runCode();">
						<div id="code-run-button-full-screen">RUN CODE</div>
						<br>
					</div>
					<div id="error-message-full-screen"></div>
				</div>
			</div>
		</div>
	</div>

	<!-- EXECUTING SCRIPT -->
	<script src="static/scripts/tpg.js"></script>
	<script src="static/scripts/conversation.js"></script>
	<script src="static/scripts/whenReady.js"></script>
</body>

</html>