
/* sass --watch /Users/Erik/prog/tpg/static/styles:/Users/Erik/prog/tpg/static/styles */

$scriptureWidth: 35vw;
$codeWidth: 35vw;
$promptWidth: 30vw;

$tan: #EDE5D9;
$lightgray: #262822;
//$darkgray: #161712;
$blackgray: #030302;
$lightenPercent: 7%;
$tanlighter: lighten($tan, 7%);
$lightgraylighter: lighten($lightgray, 10%);
$lightgraydarker: darken($lightgray, 2%);
$blackgraylighter: lighten($blackgray, 15%);

@font-face {
  font-family: dayRoman;
  src: url(../typefaces/dayrom.ttf);
}

// CONTAINER STYLES

#main-container {
	width: 100vw;
	height: 100vh;
}

.sub-screen {
	height: 100%;
	display: inline-block;
	vertical-align: top;
	position: relative;
	.sub-screen-header {
		height: 30px;
		position: fixed;
		top: 0;
		width: 100%;
	}
	.content-body {
		position: absolute;
		top: 30px;
		bottom: 0;
		right: 0;
		left: 0;
		overflow: scroll;
		padding: 10px;
	}
}

#scripture-container {
	width: $scriptureWidth;
	background-color: $tan;
	#scripture-header {
		width: $scriptureWidth;
		background-color: $tanlighter;
	}
}

#code-container {
	width: $codeWidth;
	background-color: $lightgray;
	#code-header {
		width: $codeWidth;
		background-color: $lightgraylighter;
	}
}

#prompt-container {
	width: $promptWidth;
	background-color: $blackgray;
	#prompt-header {
		width: $promptWidth;
		background-color: $blackgraylighter;
	}
}

// SCRIPTURE STYLES

#scripture {
	font-family: dayRoman, Times, serif;
	font-size: 16px;
	line-height: 22px;
	p {
		cursor: default;
		a {
			&:hover {
				color: white;
				cursor: pointer;
			}
		}
	}
}

// CODE STYLES

#code {
  font-family:Consolas,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New;
  font-size: 16px;
  color: #EEEEEE;
  .code-line {
  	margin-top: 3px;
  	margin-bottom: 3px;
  	cursor: move;
  	&.dragging {
  		background-color: $lightgray;
  		box-shadow: 0px 0px 10px 5px $lightgraydarker;
  	}
  }
  ol {
  	padding-left: 20px;
  }
	.placeholder {
		outline: 1px dashed #EEEEEE;
	}
}



		// html {
		// 	background-color: #eee;
		// }
		
		// body {
		// 	-webkit-border-radius: 10px;
		// 	-moz-border-radius: 10px;
		// 	border-radius: 10px;
		// 	color: #444;
		// 	background-color: #fff;
		// 	font-size: 13px;
		// 	font-family: Freesans, sans-serif;
		// 	padding: 2em 4em;
		// 	width: 860px;
		// 	margin: 15px auto;
		// 	box-shadow: 1px 1px 8px #444;
		// 	-mox-box-shadow: 1px 1px 8px #444;
		// 	-webkit-box-shadow: 1px -1px 8px #444;
		// }
		
		// a,a:visited {
		// 	color: #4183C4;
		// 	text-decoration: none;
		// }
		
		// a:hover {
		// 	text-decoration: underline;
		// }
		
		// pre,code {
		// 	font-size: 12px;
		// }
		
		// pre {
		// 	width: 100%;
		// 	overflow: auto;
		// }
		
		// small {
		// 	font-size: 90%;
		// }
		
		// small code {
		// 	font-size: 11px;
		// }
		
		// .mjs-nestedSortable-error {
		// 	background: #fbe3e4;
		// 	border-color: transparent;
		// }
		
		// #tree {
		// 	width: 550px;
		// 	margin: 0;
		// }
		
		// ol {
		// 	max-width: 450px;
		// 	padding-left: 25px;
		// }
		
		// ol.sortable,ol.sortable ol {
		// 	list-style-type: none;
		// }
		
		// .sortable li div {
		// 	border: 1px solid #d4d4d4;
		// 	-webkit-border-radius: 3px;
		// 	-moz-border-radius: 3px;
		// 	border-radius: 3px;
		// 	cursor: move;
		// 	border-color: #D4D4D4 #D4D4D4 #BCBCBC;
		// 	margin: 0;
		// 	padding: 3px;
		// }
		
		// li.mjs-nestedSortable-collapsed.mjs-nestedSortable-hovering div {
		// 	border-color: #999;
		// }
		
		// .disclose, .expandEditor {
		// 	cursor: pointer;
		// 	width: 20px;
		// 	display: none;
		// }
		
		// .sortable li.mjs-nestedSortable-collapsed > ol {
		// 	display: none;
		// }
		
		// .sortable li.mjs-nestedSortable-branch > div > .disclose {
		// 	display: inline-block;
		// }
		
		// .sortable span.ui-icon {
		// 	display: inline-block;
		// 	margin: 0;
		// 	padding: 0;
		// }
		
		// .menuDiv {
		// 	background: #EBEBEB;
		// }
		
		// .menuEdit {
		// 	background: #FFF;
		// }
		
		// .itemTitle {
		// 	vertical-align: middle;
		// 	cursor: pointer;
		// }
		
		// .deleteMenu {
		// 	float: right;
		// 	cursor: pointer;
		// }
		
		// h1 {
		// 	font-size: 2em;
		// 	margin-bottom: 0;
		// }
		
		// h2 {
		// 	font-size: 1.2em;
		// 	font-weight: 400;
		// 	font-style: italic;
		// 	margin-top: .2em;
		// 	margin-bottom: 1.5em;
		// }
		
		// h3 {
		// 	font-size: 1em;
		// 	margin: 1em 0 .3em;
		// }
		
		// p,ol,ul,pre,form {
		// 	margin-top: 0;
		// 	margin-bottom: 1em;
		// }
		
		// dl {
		// 	margin: 0;
		// }
		
		// dd {
		// 	margin: 0;
		// 	padding: 0 0 0 1.5em;
		// }
		
		// code {
		// 	background: #e5e5e5;
		// }
		
		// input {
		// 	vertical-align: text-bottom;
		// }
		
		// .notice {
		// 	color: #c33;
		// }
    
