
/* sass --watch /Users/Erik/prog/tpg/static/styles:/Users/Erik/prog/tpg/static/styles */

$scriptureWidth: 35vw;
$codeWidth: 35vw;
$promptWidth: 30vw;

$tan: #EDE5D9;
$lightgray: #262822;
//$darkgray: #161712;
$blackgray: #030302;
$lightenPercent: 7%;
$tanlighter: lighten($tan, 7%);
$lightgraylighter: lighten($lightgray, 10%);
$lightgraydarker: darken($lightgray, 2%);
$blackgraylighter: lighten($blackgray, 15%);
$whitegray: #ECECED;

@font-face {
  font-family: dayRoman;
  src: url(../typefaces/dayrom.ttf);
}

// CONTAINER STYLES

#main-container {
	width: 100vw;
	height: 100vh;
}

.sub-screen {
	height: 100%;
	display: inline-block;
	vertical-align: top;
	position: relative;
	.sub-screen-header {
		height: 30px;
		position: fixed;
		top: 0;
		width: 100%;
	}
	.content-body {
		position: absolute;
		top: 30px;
		bottom: 0;
		right: 0;
		left: 0;
		overflow: scroll;
		padding: 10px;
	}
}

#scripture-container {
	width: $scriptureWidth;
	background-color: $tan;
	#scripture-header {
		width: $scriptureWidth;
		background-color: $tanlighter;
	}
}

#code-container {
	width: $codeWidth;
	background-color: $lightgray;
	#code-header {
		width: $codeWidth;
		background-color: $lightgraylighter;
	}
}

#prompt-container {
	width: $promptWidth;
	background-color: $blackgray;
	#prompt-header {
		width: $promptWidth;
		background-color: $blackgraylighter;
		&:hover {
			background-color: lighten($blackgraylighter, 15%);
			cursor: pointer;
		}
	}
}

// SCRIPTURE STYLES

#scripture {
	font-family: dayRoman, Times, serif;
	font-size: 16px;
	line-height: 22px;
	p {
		cursor: default;
		a {
			&:hover {
				color: white;
				cursor: pointer;
			}
		}
	}
}

// CODE STYLES

#code-container,#prompt-container {
	font-family:Consolas,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New;
	font-size: 16px;
	color: white;
}

#code {
  font-size: 16px;
  color: #EEEEEE;
  .code-line {
  	margin-top: 3px;
  	margin-bottom: 3px;
  	cursor: move;
  	&.dragging {
  		background-color: $lightgray;
  		box-shadow: 0px 0px 10px 5px $lightgraydarker;
  	}
  }
  ol {
  	padding-left: 20px;
  }
	.placeholder {
		outline: 1px dashed #EEEEEE;
	}
}

// PROMPT STYLES

#prompt-header {
	text-align: center;
	#code-run-button {
		padding-top: 6px;
		display: inline-block;
	}
}

#prompt p,
#input-field span {
	word-wrap: break-word;
	white-space: pre;
}

#input-field {
	#command-display {

	}
}

// no focus lines
#prompt:focus {
  outline: none;
}

#command-input {
	width: 0;
	height: 0;
	padding: 0;
	border: none;
	position: absolute;
	top: -1000px;
}

#input-box {
	background-color: $blackgray;
	&.blink {
		background-color: $whitegray;
	}
}

